<!-- Shopping Cart -->
<div class="shopping-cart section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- Shopping Summery -->
        <table class="table shopping-summery">
          <thead>
            <tr class="main-hading">
              <th>SERVICE</th>
              <th>NAME</th>
              <th class="text-center">PLAN</th>
              <th class="text-center">PRICE</th>
              <!-- <th class="text-center">TOTAL</th> -->
              <th class="text-center"><i class="ti-trash remove-icon"></i></th>
            </tr>
          </thead>
          <tbody>
            <!-- item table row start -->
            {%for i in cartl%}
            <tr>
              <td class="image" data-title="No"><img src="/{{i.service.simage}}" alt="#"></td>
              <td class="product-des" data-title="Description">
                <p class="product-name"><a href="#">{{i.service.name}}</a></p>
                <p class="product-des" ></p>
              </td>
              <td class="price1" data-title="Plan"><span>{{i.planprice.plan}} </span></td>
              <td class="price" data-title="Price" id="price"><span>Rs. {{i.planprice.price}} </span><!-- Input Order -->
                <!-- <div class="input-group">
                  <div class="button minus">
                    <button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
                      <i class="ti-minus"></i>
                    </button>
                  </div>
                  <input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="100" value="1">
                  <div class="button plus">
                    <button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
                      <i class="ti-plus"></i>
                    </button>
                  </div>
                </div> -->
                <!--/ End Input Order -->
              </td>
              <!-- <td class="total-amount" data-title="Total"><span>$220.88</span></td> -->
              <td class="action" data-title="Remove"><a href="{%url 'cart:cart_view' i.id%}"><i class="ti-trash remove-icon"></i></a></td>
            </tr>
            {%endfor%}
                        <!-- item table row end -->


          </tbody>
        </table>
        <!--/ End Shopping Summery -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Total Amount -->
        <div class="total-amount">
          <div class="row">
            <div class="col-lg-8 col-md-5 col-12">
              <div class="left">
                <div class="coupon">
                  <form action="#" target="_blank">
                    <input name="Coupon" placeholder="Enter Your Coupon">
                    <button class="btn">Apply</button>
                  </form>
                </div>
                <!-- <div class="checkbox">
                  <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox"> Shipping (+10$)</label>
                </div> -->
              </div>
            </div>
            <div class="col-lg-4 col-md-7 col-12">
              <div class="right">
                <ul>
                  <li>Cart Subtotal<span>Rs.{{sc}}</span></li>
                  <!-- <li>Shipping<span>Free</span></li> -->
                  <li>You Save<span>Rs.{{disc}}</span></li>
                  <li class="last">You Pay<span>Rs.{{fp}}</span></li>
                </ul>
                <div class="button5">
                  <a href="{%url 'order:checkout'%}" class="btn">Checkout</a>
                  <a href="#" class="btn">Continue shopping</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Total Amount -->
      </div>
    </div>
  </div>
</div>


<script>
  for(var i;i=;i++)
  var s=document.getElementById("price"+id).value;
  console.log(s.price);

</script>
<!--/ End Shopping Cart -->
