
{%load static%}




<div class="container  mt-4">
  <div class="row ">
    <div class="col-12 col-lg-7 col-md-5 mb-12">

      <div class="row">

        <div class="col-12">
          <h2>{{sel.0.name}}</h2>

        </div>
    </div>

        <div class="row mt-3">
          <div class="col-12">
            <div class="product-gallery">
              <div class="quickview-slider-active">
                <div class="single-slider">
                  <img src="/{{sel.0.simage}}" alt="#">
                </div>
                <div class="single-slider">
                  <img src="/{{sel.0.simage}}" alt="#">
                </div>
                <div class="single-slider">
                  <img src="/{{sel.0.simage}}" alt="#">
                </div>
                <div class="single-slider">
                  <img src="/{{sel.0.simage}}" alt="#">
                </div>
              </div>
            </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h4>About This Gig</h4>
    
       <p>{{sel.0.description|linebreaks}}</p>

      </div>

    </div>


</div>
    <div class="col-12 col-lg-5 col-md-7 mb-12 " id="nav-tab1">
     
      <div class="row sticky-top mt-4" id="mytb">

        <div class="col-12">

          <!-- Start -->



<nav >
  <div class="nav nav-tabs " id="nav-tab" role="tablist">
    <!-- loop1 -->
    <a class="nav-item nav-link active col-4" id="nav-Basic-tab" data-toggle="tab" href="#nav-Basic"  aria-controls="nav-basic" aria-selected="true"><h5>Basic</h5></a>
    <a class="nav-item nav-link  col-4" id="nav-Standard-tab" data-toggle="tab" href="#nav-Standard"  aria-controls="nav-standard" aria-selected="false"><h5>Standard</h5></a>
    <a class="nav-item nav-link  col-4" id="nav-Premium-tab" data-toggle="tab" href="#nav-Premium"  aria-controls="nav-premium" aria-selected="false"><h5>Premium</h5></a>
<!-- loop1  -->
  </div>
</nav>



<div class="tab-content" id="nav-tabContent">


  {%for i in ppl%}

  {%if forloop.first%}

  <div class="tab-pane fade show active" id="nav-{{i.plan}}" role="tabpanel" aria-labelledby="nav-{{i.plan}}-tab">
{%else%}
<div class="tab-pane fade " id="nav-{{i.plan}}" role="tabpanel" aria-labelledby="nav-{{i.plan}}-tab">

    {%endif%}



    <div class="container">
      <h5>&nbsp</h5>
      <h5 >{{i.plan}} Package - Popular &nbsp &nbsp Rs.{{i.price}} </h5><br>
  {{i.plandiscreption|linebreaks}}

  {%if user.is_authenticated%}
  <a href="{%url 'cart:addcart' sid=sel.0.id ppid=i.id%}" class="btn btn-primary col-12 mb-4 mt-4" type="button" id="addb" name="button">Add to cart</a>
    {%else%}
  <a href="{%url 'accounts:login'  sid=sel.0.id%}" class="btn btn-primary col-12 mb-4 mt-4" type="button" id="addb" name="button">Add to cart</a>
    {%endif%}
  <!-- <button class="btn btn-primary col-12 mb-4 mt-4" type="" id="addb" name="button">Add to cart</button> -->
    </div>

  </div>

  {%endfor%}







  </div>


<!-- end -->

</div>
      </div>

      <div class="row">
        <div class="col-12">


        </div>

      </div>


    </div>

  </div>

</div>


<style >
  #mytb{
    background-color: white;
  }


  #nav-tab{
    border-color:black;
    border-style: solid;
    border-width: 1px 1px 0px 1px;

  }

  #nav-Basic-tab:hover,#nav-Standard-tab:hover,#nav-Premium-tab:hover{
  border-color:orange;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  }



  #nav-Basic-tab.active, #nav-Standard-tab.active, #nav-Premium-tab.active{
    color:orange;
    border-color:orange;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
  }

  #nav-Basic-tab, #nav-Standard-tab, #nav-Premium-tab{

    border-color:black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
  }

    #nav-tabContent{
      border-color:black;
      border-style: solid;
      border-width: 0px 1px 1px 1px;

    }

    #addb{
      color:white;
      text-align: center;
      border:none;
      background-color:#f7941d;
      border-radius: 25px;
    }

    #addb:hover{
      color:white;
      border:none;
      background-color:#e48717;
      border-radius: 25px;
    }






</style>
