

<!-- Header -->
{%load static%}
<header class="header shop">
  <!-- Topbar -->

  <!-- End Topbar -->
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-12">
          <!-- Logo -->
          <div class="logo">
            <a href="/"><img src="{%static 'images/web/logo.png'%}" alt="logo"></a>
          </div>
          <!--/ End Logo -->
          <!-- Search Form -->
          <div class="search-top" >
            <div class="top-search"><a href="#"><i class="ti-search"></i></a></div>
            <!-- Search Form -->
            <div class="search-form">
              <form  method="get" action="/prod-search">
                <input type="search" placeholder="Search here..." name="search" id="search">
                <button value="search" type="submit"><i class="ti-search"></i></button>
              </form>
            </div>
            <!--/ End Search Form -->
          </div>
          <!--/ End Search Form -->
          <div class="mobile-nav"></div>
        </div>
        <div class="col-lg-7 col-md-6 col-12">
          <div class="search-bar-top">
            <div class="search-bar">
              <select>
                <option selected="selected">All Category</option>
              {%for i in cl%}
                <option>{{i.name}}</option>
              {%endfor%}

              </select>
              <form method="get" action="/prod-search">
                <input name="search" placeholder="Search Services Here....." type="search" id="search">
                <button class="btnn"><i class="ti-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-12">
          <div class="right-bar">
            <!-- Search Form -->
            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
            </div>
            <div class="sinlge-bar">
              <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i>{%if user.is_authenticated%} {{user.first_name}} {%endif%}</a>
            </div>
            <div class="sinlge-bar shopping">
              {%if user.is_authenticated%}
              <a href="{%url 'cart:cart_view'%}" class="single-icon"><i class="ti-bag"></i> <span class="total-count">{{nc}}</span></a>
              {%endif%}
              <!-- Shopping Item -->
              <!-- <div class="shopping-item">
                <div class="dropdown-cart-header">
                  <span>2 Items</span>
                  <a href="#">View Cart</a>
                </div>
                <ul class="shopping-list">
                  <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                    <h4><a href="#">Woman Ring</a></h4>
                    <p class="quantity">1x - <span class="amount">$99.00</span></p>
                  </li>
                  <li>
                    <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                    <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                    <h4><a href="#">Woman Necklace</a></h4>
                    <p class="quantity">1x - <span class="amount">$35.00</span></p>
                  </li>
                </ul>
                <div class="bottom">
                  <div class="total">
                    <span>Total</span>
                    <span class="total-amount">$134.00</span>
                  </div>
                  <a href="checkout.html" class="btn animate">Checkout</a>
                </div>
              </div> -->
              <!--/ End Shopping Item -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Inner -->
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <!-- inner category -->
          {%if request.path == "/" %}
          {%include 'innercat.html'%}
          {%endif%}
          <!-- inner category -->
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav main-menu menu navbar-nav">
                        <li class="active"><a href="/">Home</a></li>

                        <li><a href="{%url 'products:filter_by_cat'%}">Services</a></li>

                        <!-- <li><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                          <ul class="dropdown">
                            <li><a href="shop-grid.html">Shop Grid</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                          </ul>
                        </li> -->



                        {%if user.is_authenticated%}
                        <li><a href="{%url 'cart:cart_view'%}">Cart</a></li>
                        <li><a href="{%url 'order:checkout'%}">Checkout</a></li>
                        <li><a href="{%url 'order:orderview'%}">My Orders</a></li>
                        <li><a href="{%url 'accounts:logout'%}">Sign out</a></li>

                        {%else%}
                          <li><a href="{%url 'accounts:register'%}">Sign Up</a></li>
                          <li><a href="{%url 'accounts:login'%}">Sign in</a></li>

                        {%endif%}

                        <!-- <li><a href="#">Blog<i class="ti-angle-down"></i></a>
                          <ul class="dropdown">
                            <li><a href="blog-single-sidebar.html">Blog Single Sidebar</a></li>
                          </ul>
                        </li> -->
                        <li><a href="contact.html">Contact Me</a></li>
                      </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Header Inner -->
</header>
