<div class="col-lg-3">
  <div class="all-category" onmouseover="mouseOver()" onmouseout="mouseOut()" >
    <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
    <ul class="main-category collapse" id="mc">
      {%for i in cl%}
      <li><a href="#">{{i.name}}<i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <ul class="sub-category">
      {%for j in sl%}
      {%if j.category.name in i.name%}
        <li><a href="{%url 'products:filter_by_cat' j.id%}">{{j.name}}</a></li>
      {%endif%}
      {%endfor%}
      </ul>
      </li>
      {%endfor%}
    </ul>

  </div>
</div>

<style >
  .main-category{background:white;}

</style>


<script type="text/javascript">

  function mouseOver() {
  document.getElementById("mc").className = "main-category";
}

function mouseOut() {
  document.getElementById("mc").className = "collapse";
}

</script>
