<section class="product-area shop-sidebar shop section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <div class="shop-sidebar">
            <!-- Single Widget -->
            <div class="single-widget category">
              <h3 class="title">Categories</h3>
              <ul class="categor-list">
                {%for i in sl%}
                <li><a href="{%url 'products:filter_by_cat' i.id%}">{{i.name}}</a></li>
                {%endfor%}
              </ul>
            </div>
            <!--/ End Single Widget -->
            <!-- Shop By Price -->
              <!-- <div class="single-widget range">
                <h3 class="title">Shop by Price</h3>
                <div class="price-filter">
                  <div class="price-filter-inner">
                    <div id="slider-range"></div>
                      <div class="price_slider_amount">
                      <div class="label-input">
                        <span>Range:</span><input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                      </div>
                    </div>
                  </div>
                </div>
                <ul class="check-box-list">
                  <li>
                    <label class="checkbox-inline" for="1"><input name="news" id="1" type="checkbox">$20 - $50<span class="count">(3)</span></label>
                  </li>
                  <li>
                    <label class="checkbox-inline" for="2"><input name="news" id="2" type="checkbox">$50 - $100<span class="count">(5)</span></label>
                  </li>
                  <li>
                    <label class="checkbox-inline" for="3"><input name="news" id="3" type="checkbox">$100 - $250<span class="count">(8)</span></label>
                  </li>
                </ul>
              </div> -->
              <!--/ End Shop By Price -->
            <!-- Single Widget -->

            <!--/ End Single Widget -->
            <!-- Single Widget -->

            <!--/ End Single Widget -->
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="row">
          <div class="col-12">
            <!-- Shop Top -->
            <div class="shop-top">
              <div class="shop-shorter">
                <div class="single-shorter">
                  <label>Show :</label>
                  <select>
                    <option selected="selected">09</option>
                    <option>15</option>
                    <option>25</option>
                    <option>30</option>
                  </select>
                </div>
                <div class="single-shorter">
                  <label>Sort By :</label>
                  <select>
                    <option selected="selected">Name</option>
                    <option>Price</option>
                    <!-- <option>Size</option> -->
                  </select>
                </div>
              </div>

              <!--  -->
              <!-- <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><i class="fa fa-th-large"></i></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><i class="fa fa-th-list"></i></button>
                </li>

              </ul> -->
              <!--  -->

              <ul class="view-mode nav nav-pills mb-3" id="tab" role="tablist">
                <li id="c1" onclick="myFunction(1)" class="active"><a href="#test" data-toggle="tab"  roll=tab><i class="fa fa-th-large"></i></a></li>
                <li id="c2" onclick="myFunction(2)" class=""><a  href="#test1" data-toggle="tab" roll=tab><i class="fa fa-th-list"></i></a></li>
              </ul>
            </div>
            <!--/ End Shop Top -->
          </div>
        </div>


        <script>
          function myFunction(s){
            if (s=="1"){
              document.getElementById("c1").className="active"
              document.getElementById("c2").className=""
            }
            else{
              document.getElementById("c2").className="active"
              document.getElementById("c1").className=""
            }
          }

          // document.getElementById("c1"))
        </script>



        <div class="tab-content" id="myTabContent">
          <!-- Start Single Tab -->
          <div class="tab-pane fade show active" id="test" role="tabpanel">
            <div class="tab-single">
              <div class="row">
                {%for s in sel%}
                <div class="col-lg-4 col-md-6 col-12">
                  <div class="single-product">
                    <div class="product-img">
                      <a href="{%url 'products:gig' s.id %}">
                        <img class="default-img" src="\{{s.simage}}" alt="#">
                        <img class="hover-img" src="\{{s.simage}}" alt="#">
                      </a>
                      <div class="button-head">
                        <div class="product-action">
                          <a data-toggle="modal" data-target="#mymod{{s.id}}" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                          <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                          <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                        </div>
                        <div class="product-action-2">
                          <a title="Add to cart" href="#">Add to cart</a>
                        </div>
                      </div>
                    </div>
                    <div class="product-content">
                      <h3><a href="product-details.html">{{s.name}}</a></h3>
                      <div class="product-price">
                        {%for pn in ppl%}
                        {%if pn.service.id == s.id%}

                        {%if pn.plan.name == "Basic" %}

                        <span style="color:gray">STARTING AT Rs. {{pn.price}}</span>
                        {%endif%}
                        {%endif%}
                        {%endfor%}
                      </div>
                    </div>
                  </div>
                </div>

                {%endfor%}

              </div>

              </div>
              </div>

<!-- end of signle tab  -->


              <div class="tab-pane fade " id="test1" role="tabpanel">
                <div class="tab-single">
                  {%for s in sel%}
                  <div class="row">
                    <div class="col-12 ">
                      <div class="card mb-3" style="max-width: 100%; ">
                        <div class="row g-0">
                          <div class="col-md-2 col-2">
                            <a href="{%url 'products:gig' s.id %}"><img src="\{{s.simage}}" class="img-fluid" alt="..." style="width: 100%; height:100px;  object-fit: cover;
        object-position: center;" ></a>

                          </div>
                          <div class="col-md-10 col-10">
                            <div class="card-body">
                              <a href="{%url 'products:gig' s.id %}" id="prodl">  <b>{{s.name}}</b></a>


                              {%for pn in ppl%}
                              {%if pn.service.id == s.id%}

                              {%if pn.plan.name == "Basic" %}
                              <p class="card-text"><span style="color:gray">STARTING AT Rs. {{pn.price}}</span></p>


                              {%endif%}
                              {%endif%}
                              {%endfor%}
                              <!-- <h5 class="card-title">{{s.name}}</h5> -->
                              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>



                  </div>
                    {%endfor%}

                  </div>
                  </div>
              </div>



                <!-- Start Single Tab -->






      </div>
    </div>
  </div>
</section>

<style media="screen">
  #prodl:hover{ color:#f7941d;

  }
</style>
